.heading {
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px green;
}
.note {
    font-size: 18px;
    color: chocolate;
}
.copy_right_footer {
    bottom: 0;
    color: black;
    text-align: center;
    position: fixed;
    background-color: coral;
    width: 100%;
    line-height: 3;
}
canvas {
    border: 6px solid white;
    border-radius: 22px;
    box-shadow: 5px 5px 5px grey;
}